body 
{
	background-color: #ffffff;
	font-family: Times New Roman, "Georgia";
	margin: 20px 245px;
	background-image: url(http://i.imgur.com/LEl5KsB.png), url(http://i.imgur.com/GjvWZrX.png);
	background-repeat: no-repeat, repeat;
	backgroun-position: center;
	background-attachment: fixed;
}

//Link colors
a:link
{	
	color: #000000;
}

a:visited 
{
	color: #ff0033;
}

a:hover   
{
	color: #cc66ff;
}

a:active  
{
	color: #000000;
}